apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: weddingmate
  labels:
    app.kubernetes.io/name: weddingmate
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: weddingmate
    app.kubernetes.io/component: backend
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
