apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: weddingmate
  labels:
    app.kubernetes.io/name: weddingmate
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: weddingmate
    app.kubernetes.io/component: frontend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
